.loginForm {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
}

.loginForm input {
    width: 400px;
}